*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(0, 0, 0);
}

.wrapper{
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.container{
    width: 20vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
    position: relative;
    border-radius: 7px;
    border-bottom: 10px solid #f49c04;
    background-color: #302d28;
}
i{
    color: rgb(65, 227, 227);
    font-size: 2.5rem;
    text-align:center;
}

span.number{
    color: white;
    display: grid;
    place-items:center;
    font-size: 3em;
}

span.text{
    color: white;
    font-size: 1em;
    text-align: center;
    pad: 0.7 1;
    font-weight: 400;
    line-height: 0;
}


@media screen and (max-width: 1024px) {
    .wrapper{
        width: 85vw;
    }

    .container{
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
    
}

@media screen and (max-width: 768px) {
    .wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
    }
    .container {
    width: calc(50% 40px);
    height: 30vmin;
    font-size: 14px;
    }
}

@media screen and (max-width:480px){
    .wrapper {
    gap: 15px;
    }
    .container {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
    }
}
