*{
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: rgb(71, 36, 103);
}
.container{
    width: 400px;
    padding: 30px 40px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container p{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}
.container input{
    border: 1px solid rgb(190, 136, 241);
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}
.container button{
    width: 100%;
    height: 30px;
    background-color: rgb(190, 136, 241);
    color:#000000;
    border: 0;
    outline: 0;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 5px 0 5px #000000;
    font-weight: 500;
    margin: 10px 0;;
}
#img-box{
    margin: 0 25%;
    
}
#qrImg{
    display: none;
    width: 100%;
    padding: 5px;
    transition: max-heigth 13s;

}
.error{
    animation:shake 5s linear 4;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-10px);

    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0);
    }
}